{%  extends 'base.html' %}
{% block content %}
<h2>ანიმეს შესახებ</h2>
    <p><b>ანიმე (იაპონ. アニメ) </b> წარმოიშვა ინგლისური სიტყვისგან <b>Animation (ანიმაცია)</b>. იაპონიის ფარგლებს გარეთ, სიტყვა „ანიმე“ ჩვეულებრივ გამოიყენება იაპონიაში შექმნილი ანიმაციიის აღსანიშნავად.

სხვა ქვეყნების ანიმაციური ფილმებისგან განსხვავებით, რომლებიც უმეტესად ბავშვებისთვის არის გათვლილი, ანიმეს გააჩნია თემების ფართო არჩევანი ყველა ასაკისათვის, რის გამოც მსოფლიოში მაღალი პოპულარობით სარგებლობს.

ხშირად დაფუძნებულია რომელიმე წიგნის, იაპონური კომიქსის — მანგას ან კომპიუტერული თამაშის — სიუჟეტზე.

</p>
    <br>

<div class="row">
  <div class="column">
    <img src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/16/42/1476866155-studioghibli-rexfeatures-5885275ah.jpg?crop=0.667xw:1.00xh;0.0459xw,0&resize=480:*" alt="Snow" style="width:100%">
  </div>
    <div class="column">
    <img src="https://i.pinimg.com/originals/23/a2/c5/23a2c5564a2f8fb061b35d537f5031cb.jpg" style="width:100%; height:90%">
  </div>
  <div class="column">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/studio-ghibli-hayao-miyazaki-spirited-away-1591392729.jpg?crop=0.675xw:1.00xh;0.205xw,0&resize=640:*" style="width:100%">
  </div>
    </div>
  <pre>სტუდიო გიბლის ანიმაციები</pre>

    <p> ანიმეს კიდევ ერთი და ხშირად მთავარი განმასხვავებელი ნიშანი მისი ხატვის სტილია. ამასთან ანიმე შეიძლება დახატული იყოს, როგორც ხელით, ასევე კომპიუტერით.
    სხვა ქვეყნის ანიმაციებისგან განსხვავებით ანიმეები უპირველეს ყოვლისა სწორედ სიუჟეტის ღრმა დამუშავებითა და შესრულების მაღალი ხარისხით განსხვავდება.</p>




{% endblock %}

